<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-OB0EF4bzxp8JBEhwJWOZCY_ixxpi3U0</string>
	<key>GCM_SENDER_ID</key>
	<string>530523132253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskGooglemap0tracking</string>
	<key>PROJECT_ID</key>
	<string>task-map0tracking</string>
	<key>STORAGE_BUCKET</key>
	<string>task-map0tracking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530523132253:ios:f3fb2924a777db6fbe58b4</string>
</dict>
</plist>